@import '_vars';
@import '_global';



.header{
    background-color: #eef1f3;
}

.header__top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;


}
.header__content{
    display: flex;
    align-items: center;
    div{
        margin: 0 20px;
    }
}
.header__icons{
    img{
        margin: 0 15px;
    }
}
.avatar__content{
    a{
        display: block;
    }
}
.header__btn{
   a{
       color: #fff;
       padding: 12px 20px;
       background-color: #0674ec;
       border-radius: 30px;
       transition: all .7s;
       font-size: 14px;
   }
}
.header__btn{
    a:hover{
        color: #0674ec;
        padding: 12px 20px;
        background-color: #fff;
        border-radius: 30px;
        font-size: 14px;
    }
 }
.nick{
    color: #000;
}
.balance{
    color:#0674ec;
    margin-top: 5px;
}
.header__bot{
    height: 80px;
    background-color: #fff;
    align-items: center;
    margin-bottom: -50px;
}
.header__bot-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    text-transform: uppercase;
    margin-top: 5px;
    ul{
        display: flex;
    }
    li + lI{
        margin-left: 30px;
    }
    a{
        color: #000;
        font-weight: 500;
        font-size: 15px;
    }
}

.header__input{
    display: flex;
    border: 1px solid #d9dfe5; ;
    border-radius: 25px;
    padding-left: 20px;
    margin-top: 10px;
    input{
        border: none;
        outline: none;
    }
    img{
        padding: 17px 25px;
        background-color: #0674ec;
        border-radius: 25px;   
    }
    button{
        background-color: inherit;
        border: none;
        cursor: pointer;
        margin-top: -1px;
        margin-bottom: -5px;
        margin-right: -6px;
    }
}


.create{
    height: 730px;
    background-color: #0c31bc;
    color: #fff;
}

.create__btns{
    a{
        color: #fff;
        padding: 12px 20px;
        background-color: #0c31bc;
        border-radius: 30px;
        transition: all .7s;
        font-size: 14px;
        border: 1px solid #fff;
        margin-bottom: 130px;
    }
    a + a{
        margin-left: 30px;
    }
 }
 .create__btns{
     a:hover{
         color: #0c31bc;
         padding: 12px 20px;
         background-color: #fff;
         border-radius: 30px;
         font-size: 14px;
     }
  }
  .create__inner{
      text-align: center;
    h2{
        padding-top: 180px;
        font-weight: 300;
        font-size: 60px;
        margin-bottom: -15px;
    }
    h1{
        font-weight: 600;
        font-size: 60px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 50px;
    }
  }
  .create__form{
      border-radius: 10px;
      margin-top: 40px;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #fff;
      
      input{
      max-width: 645px;
      width: 100%;
      height: 50px;
      outline: none;
      padding-left: 20px;
    }
    .category-btn{
         color: #555555;
         margin-right: 30px;
         cursor: pointer;
         padding: 14px 70px 14px 20px;
         background-color: #fff;
         border-color: #000;
         margin-left: -4px;
         position: relative;
        // img{
        //     padding-left: 10px;
        // }
     }
    .search-btn{
        background-color: #0674ec;
        padding: 15px 70px;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        border-radius: 5px;
     }
  }

.search{
    height: 710px;
    color: #ffffff;

}


